<template>
    <div class="order-form">
        <div class="alert alert-danger alert-dismissible" role="alert" v-if="errors && !success">
            <div v-for="category in errors">
                <span v-for="error in category">
                    {{ error }}
                </span>
            </div>
        </div>
        <div class="alert alert-info" v-if="success">Order has been sended</div>
        <div class="alert alert-warning" v-if="errorMessage">Some error occured</div>
        <label for="name">Name</label>
        <div class="input-group input-group-md mb-3">
            <input type="text" name="name" class="form-control" id="name" v-model="name" placeholder="Name">
        </div>
        <label for="phone">Phone</label>
        <div class="input-group input-group-md mb-3">
            <input type="text" class="form-control" id="phone" v-model="phone" placeholder="Phone">
        </div>
        <div class="input-group input-group-md mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="plan">Plans</label>
            </div>
            <select class="custom-select" id="plan" v-model="plan">
                <option value="null" selected>Choose</option>
                <option v-for="plan in plansList" :value="plan.id" :key="plan.id">
                    {{ plan.name + ' ' + plan.price }}
                </option>
            </select>
        </div>
        <div v-if="plan !== null" class="input-group input-group-md mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="day">Delivery day</label>
            </div>
            <select class="custom-select" id="day" v-model="day">
                <option selected>Choose</option>
                <option v-for="day in filterDays" :value="day.id" :key="day.id">{{ day.name }}</option>
            </select>
        </div>
        <div v-if="day !== null" class="input-group input-group-md mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="day">Address</label>
            </div>
            <select class="custom-select" id="address" v-model="address">
                <option selected>Choose</option>
                <option v-for="address in filterAddress" :value="address.id" :key="address.id">
                    {{ address.name }}
                </option>
            </select>
        </div>
        <button v-on:click="send()" type="submit" class="btn btn-outline-primary">Send order</button>
    </div>
</template>

<script>
    export default {
        name: "OrderForm",
        data() {
            return {
                name: null,
                phone: null,
                plansList: null,
                addressesList: null,
                address: null,
                plan: null,
                day: null,
                errors: null,
                errorMessage: null,
                success: null,
                filteredDays: null,
            }
        },
        methods: {
            send() {
                axios.post('order', {
                    name: this.name,
                    phone: this.phone,
                    plan: this.plan,
                    day: this.day,
                    address: this.address,
                })
                .then(response => (this.success = response.data.status === 'success'))
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    this.errorMessage = error.response.data.error_message;
                });
            },
        },
        mounted() {
            axios.get('api/plans').then(response => (this.plansList = response.data));
            axios.get('api/addresses').then(response => (this.addressesList = response.data));
        },
        computed: {
            filterDays() {
                if (this.plan === null) {
                    return [];
                }
                return this.filteredDays = this.plansList.filter(
                    n => n.id === this.plan,
                )[0]['days'];
            },
            filterAddress() {
                if (this.plan === null) {
                    return [];
                }
                return this.addressesList.filter(
                    n => n.plan_id === this.plan,
                );
            },
        },
    }
</script>

<style scoped>

</style>